/**
* HEADER
*/
// color
$color-1: #181818;
$color-2: #b61984;
$color-3: #fff;
$color-4: #495057;

// font-size
$fs-1: 14px;
$fs-2: 15px;
$fs-3: 16px;
$fs-4: 60px;
$fs-5: 12px;
$fs-6: 25px;
$fs-7: 40px;
$fs-8: 13px;

// font-weight
$fw-1: 600;
$fw-2: 700;

// background-color
$bg-1: #b61984;
$bg-2: #dcd1f3;
$bg-3: #fff;

// border
$bd-1: 1px solid rgba(0, 0, 0, 0.1);
$bd-2: 1px solid rgba(0, 0, 0, 0.3);
$bd-3: 1px solid rgba(255, 255, 255, 0.1);
$bd-4: 1px solid rgba(255, 255, 255, 1);

// border-radius
$bd-r-1: 70px;
$bd-r-2: 10px;

// box-shadow
$bs-1: 0 0 30px #7a7a7a59;
$bs-2: 0 0 20px #dfdede59;
$bs-3: 0 0 4px 0 #0000001a;
$bs-4: 0 0 0 1px $color-2 inset;
